# Ignore compiled Python files
*.pyc
__pycache__

# Ignore virtual environment directories
venv/
env/
virtualenv/

# Ignore dependency management files
requirements.txt
pipfile.lock
poetry.lock

# Ignore log files
*.log

# Ignore IDE-specific files and directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore sensitive or private information
config.ini
secrets.json
